<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [33]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [34]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [35]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [36]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [6]:
# your code goes here
import pandas as pd

# Calculate the number of duplicate rows
num_duplicates = df.duplicated().sum()

# Print the number of duplicate rows
print(f"The number of duplicate rows in the DataFrame is: {num_duplicates}")

The number of duplicate rows in the DataFrame is: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [37]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [38]:
num_duplicates = df.duplicated().sum()

# Print the number of duplicate rows
print(f"The number of duplicate rows in the DataFrame is: {num_duplicates}")

The number of duplicate rows in the DataFrame is: 0

## Finding Missing values

Find the missing values for all columns.

In [39]:
# your code goes here
# Calculate the number of missing values for each column
missing_values = df.isnull().sum()

# Print the missing values for each column
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [40]:
# Count missing values in the 'WorkLoc' column
missing_workloc_count = df['WorkLoc'].isna().sum()

print(f"The number of missing rows in the 'WorkLoc' column is: {missing_workloc_count}")

The number of missing rows in the 'WorkLoc' column is: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [41]:
# your code goes here
# Get the value counts for the 'WorkLoc' column
workloc_counts = df['WorkLoc'].value_counts()

# Print the value counts for the 'WorkLoc' column
print("Value counts for the 'WorkLoc' column:")
print(workloc_counts)

Value counts for the 'WorkLoc' column:
WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [43]:
# Find the most frequent (majority) value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].mode()[0]

print(f"The most frequent (majority) value in the 'WorkLoc' column is: {most_frequent_workloc}")

The most frequent (majority) value in the 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [15]:
# your code goes here
# Impute missing values in the 'WorkLoc' column with 'Office' using inplace=True
df['WorkLoc'].fillna('Office', inplace=True)

<ipython-input-15-80faba57a83b>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].fillna('Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [16]:
# your code goes here
# Print the number of missing values in the 'WorkLoc' column after imputation
missing_workloc_after = df['WorkLoc'].isnull().sum()
print(f"The number of missing rows in the 'WorkLoc' column after imputation is: {missing_workloc_after}")

The number of missing rows in the 'WorkLoc' column after imputation is: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [18]:
# Create the 'NormalizedAnnualCompensation' column
# Get the unique categories in the 'CompFreq' column
comp_freq_categories = df['CompFreq'].unique()
print(comp_freq_categories)

['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [20]:
# your code goes here
# Create the 'NormalizedAnnualCompensation' column
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  # For any unrecognized frequency

# Apply the function to create the new column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Print the first few rows to verify the new column
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head(10))

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0
5  Monthly     9500.0                      114000.0
6  Monthly     3000.0                       36000.0
7   Yearly   103000.0                      103000.0
8   Yearly    69000.0                       69000.0
9  Monthly     8000.0                       96000.0

In [29]:
# Count the number of unique values in the 'CompFreq' column
unique_compfreq_count = df['CompFreq'].nunique()

print(f"The number of unique values in the 'CompFreq' column is: {unique_compfreq_count}")

The number of unique values in the 'CompFreq' column is: 3

In [30]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Count respondents with 'Yearly' in the 'CompFreq' column
yearly_count = df[df['CompFreq'] == 'Yearly'].shape[0]

print(f"The number of respondents being paid yearly after removing duplicates is: {yearly_count}")

The number of respondents being paid yearly after removing duplicates is: 6073

In [31]:
# Calculate the median of 'NormalizedAnnualCompensation'
median_normalized_compensation = df['NormalizedAnnualCompensation'].median()

print(f"The median NormalizedAnnualCompensation is: {median_normalized_compensation}")

The median NormalizedAnnualCompensation is: 100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 ## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>